In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
filename = 'ipca.xls'

In [3]:
df = pd.read_excel(filename)

# Transforma o tipo da coluna Mês que é *object* para *string*

In [4]:
df["mes"] = df["mes"].fillna(0).astype("string")
df["mes"]

0      JAN
1      FEV
2      MAR
3      ABR
4      MAI
      ...
364    MAI
365    JUN
366    JUL
367    AGO
368    SET
Name: mes, Length: 369, dtype: string

# Transforma o tipo da coluna ano que é *float* para *int*

In [5]:
df["ano"] = df["ano"].replace("", np.nan)
df["ano"] = df["ano"].fillna(0).astype(int)
df["ano"]

0      1994
1      1994
2      1994
3      1994
4      1994
       ...
364    2024
365    2024
366    2024
367    2024
368    2024
Name: ano, Length: 369, dtype: int32

# Transforma o tipo da coluna valor que é *float* para *str*

In [6]:
df["valor"] = df["valor"].replace("", np.nan)
df["valor"] = df["valor"].fillna(0).astype("string")
df["valor"]

0      41.31
1      40.27
2      42.75
3      42.68
4      44.03
       ...
364     0.46
365     0.21
366     0.38
367    -0.02
368     0.44
Name: valor, Length: 369, dtype: string

# Une as colunas dos df´s: df["ano"], df["mes"] e df["valor]

In [7]:
df_unido = pd.concat([df["ano"], df["mes"], df["valor"]], axis=1)
df_unido

      ano  mes  valor
0    1994  JAN  41.31
1    1994  FEV  40.27
2    1994  MAR  42.75
3    1994  ABR  42.68
4    1994  MAI  44.03
..    ...  ...    ...
364  2024  MAI   0.46
365  2024  JUN   0.21
366  2024  JUL   0.38
367  2024  AGO  -0.02
368  2024  SET   0.44

[369 rows x 3 columns]

In [8]:
df_unido.dtypes

ano               int32
mes      string[python]
valor    string[python]
dtype: object

# Criar um banco de dados SQLITE e salva os dados dentro dele

In [9]:
conn = sqlite3.connect("ipca.db")
df_unido.to_sql("dados", conn, index=False)
conn.close()