In [52]:
import pandas as pd
import numpy as np
import sqlite3

In [53]:
filename = 'ipca.xls'

In [54]:
df = pd.read_excel(filename)

# Transforma o tipo da coluna Mês que é *object* para *string*

In [55]:
df["Mês"] = df["Mês"].str.strip().astype("string")
df["Mês"] = df["Mês"].apply(str)
df["Mês"]

0      JAN
1      FEV
2      MAR
3      ABR
4      MAI
      ...
389    MAI
390    JUN
391    JUL
392    AGO
393    SET
Name: Mês, Length: 394, dtype: object

# Transforma o tipo da coluna Ano que é *float* para *int*

In [56]:
df["Ano"] = df["Ano"].replace("", np.nan)
df["Ano"] = df["Ano"].fillna(0).astype(int)
df["Ano"]

0      1994
1         0
2         0
3         0
4         0
       ...
389       0
390       0
391       0
392       0
393       0
Name: Ano, Length: 394, dtype: int32

# Une as colunas dos df´s: df["Ano"], df["Mês"] e df["Valor]

In [57]:
df_unido = pd.concat([df["Ano"], df["Mês"], df["Valor"]], axis=1)
df_unido

      Ano  Mês  Valor
0    1994  JAN  41.31
1       0  FEV  40.27
2       0  MAR  42.75
3       0  ABR  42.68
4       0  MAI  44.03
..    ...  ...    ...
389     0  MAI   0.46
390     0  JUN   0.21
391     0  JUL   0.38
392     0  AGO  -0.02
393     0  SET   0.44

[394 rows x 3 columns]

# Criar um banco de dados SQLITE e salva os dados dentro dele

In [59]:
conn = sqlite3.connect("ipca.db")
df_unido.to_sql("dados", conn, index=False)
conn.close()

ValueError: Table 'dados' already exists.